@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    font-family: 'Gloria Hallelujah', cursive;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f1dac8;
}

.header {
	background-color: #f7cfa5;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.div {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


button {

	padding: 10px;
	border: none;
	border-radius: 5px;
    margin-top: 0 10px 10px 0;
	background-color: #785b44;
	color: #fff;
	cursor: pointer;
	width: fit-content;
    margin-top: 10px;
}

button:hover {
	background-color: #555;
}
