@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    font-family: 'Gloria Hallelujah', cursive;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f1dac8;
}

header {
	background-color: #f7cfa5;
	color: #fff;
	padding: 20px;
	text-align: center;
}

p{
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;

}

button {

	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #785b44;
	color: #fff;
	cursor: pointer;
	width: fit-content;
    margin-top: 10px;
}

button:hover {
	background-color: #555;
}
